**/__pycache__
.DS_Store
*.log
*.csv
*.dat
build
.ropeproject
*.egg-info
.ipynb_checkpoints
.env
results
result_images
scripts
launcher
typings
experiments.json
_version.py
.coverage

data_folder/
experiments_folder/
